/*BANNERS

	Add the section banners here, using the format:

	.page-class #container {
		background-image: url(../images/file@1x.jpg);				<---- Standard, 1x
		background-image: url(../imagesfile@2x.jpg), transparent;  <---- RETINA, 2x
		}

*/

.homepage #container {
	background-image: url(../images/homepage-sketch.jpg);
	background-image: url(../images/homepage-sktech@2x.jpg), transparent;
	}

	.microbiologists #container {
		background-image: url(../images/microbiologists-feature.jpg);
		}


/* SUPPORT

	Add the support team photos here, using the format:

	.team-member-class {
		background-image: url(../images/file@1x.jpg);				<---- Standard, 1x
		background-image: url(../imagesfile@2x.jpg), transparent;  <---- RETINA, 2x
		}

*/
	.peter-meintjes {
		background: url(../images/support-cat.jpg);
		background: url(../images/support-cat@2x.jpg), url();
		}